.div-answers {
    margin-top: 2em;
}

.correct {
    background: #D4ECC6;
    border-radius: 2em;
}

.incorrect {
    background: #E2A1A1;
    border-radius: 2em;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

audio {
    width: 100%;
    object-fit: contain;
}
